{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
      "react/jsx-filename-extension": 0,
      "react/jsx-curly-brace-presence": 0,
      "react/prop-types": 0,
      "jsx-quotes": 0,
      "import/no-named-as-default": 0
  },
  "env": {
      "es6": true,
      "node": true,
      "jest": true,
      "browser": true
  }
}
