{
  "extends": "airbnb",
  "rules": {
      "react/jsx-filename-extension": 0,
      "jsx-quotes": 0
  },
  "env": {
      "es6": true,
      "node": true,
      "jest": true,
      "browser": true
  }
}
