/*.nodeBase {
  cursor: pointer;
  fill: #777;
  stroke: #000;
  stroke-width: 2;
}

.leafNodeBase {
  cursor: pointer;
  fill: transparent;
  stroke: #000;
  stroke-width: 2;
}*/

.nodeNameBase {
  fill: #000;
  stroke: #000;
  font-size: 13px;
  stroke-width: 0.5;
}

.nodeUrlBase {
  fill: #000;
  stroke: #000;
  font-size: 11px;
  stroke-width: 0.2;
}
